<section class="order">
  <h4 class="order__title no-margin">Order summary</h4>
  <section class="order__sub-sections order__subtotal clearfix">
    <table id="values" class="order__subtotal__table">
      <tbody>
        <tr>
          <td class="first-row">Subtotal</td>
          <td class="first-row" align="right">
            <strong>{{ cartSummary?.subtotal | currency }}</strong>
          </td>
        </tr>
        <tr>
          <td>Estimated Shipping</td>
          <td align="right">
            <strong>{{ cartSummary?.shippingAmount | currency }}</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1" class="values__total">Estimated Total</td>
          <td align="right" class="values--total-price">
            <strong>{{ cartSummary?.cartTotal | currency }}</strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section class="order__sub-sections order__address">
    <span class="disclaimer">*</span>{{ cartSummary?.taxDisclaimer }}
  </section>
  <section class="order__sub-sections secure__checkout">
    <app-button
      *ngIf="cartSummary?.showCheckoutButton"
      buttonClass="secure__checkout_button"
      buttonName="Secure checkout"
    ></app-button>
  </section>
</section>
