<section class="order">
  <h4 class="order__title no-margin">Order summary</h4>
  <section class="order__sub-sections order__subtotal clearfix">
    <table id="values" class="order__subtotal__table">
      <tbody>
        <tr>
          <td class="first-row">Subtotal</td>
          <td class="first-row" align="right">
            <strong>$179,00</strong>
          </td>
        </tr>
        <tr>
          <td>Estimated Shipping</td>
          <td align="right"><strong>$179,00</strong></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1" class="values__total">Estimated Total</td>
          <td align="right" class="values--total-price">$152,10</td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section class="order__sub-sections order__address">
    Sales tax will be calculated at checkout
  </section>
  <section class="order__sub-sections secure__checkout">
    <app-button
      buttonClass="secure__checkout_button"
      buttonName="Secure checkout"
    ></app-button>
  </section>
</section>
